*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 70%;
    height: 500px;
    margin: auto;
    margin-top: 90px;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 2px 4px 1px gray;
}
.slide{
    height: 100%;
    width: 100%;
    position: absolute;
    transition: 1s;
}
.nav{
    text-align: center;
    justify-content: center;
    padding: 5px;
    margin: 5px;
}
.btn{
    font-size: medium;
    padding: 8px 15px;
    background-color: black;
    color: white;
    border: 1px black;
    cursor: pointer;
}